<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253165799956-jfvln4o9ufd7ms73cu2nvru3gdpds6fu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253165799956-jfvln4o9ufd7ms73cu2nvru3gdpds6fu</string>
	<key>API_KEY</key>
	<string>AIzaSyArR8JN2XIsvxqvfTrsPgvDyBEgXzhZL9c</string>
	<key>GCM_SENDER_ID</key>
	<string>253165799956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniela-villa.Proyecto</string>
	<key>PROJECT_ID</key>
	<string>proyecto-3ce3c</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-3ce3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:253165799956:ios:eda059c79ffc95848df501</string>
</dict>
</plist>
